keycloak-base-url: http://keycloak:8080

meas-service:
  s3:
    endpoint: ${S3_ENDPOINT}
    username: ${S3_USERNAME}
    password: ${S3_PASSWORD}
    bucket-name: ${S3_BUCKET}
  db:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    schema: ${DB_SCHEMA}

cloud:
  aws:
    region:
      static: eu-west-1
    stack:
      auto: false

server:
  servlet:
    context-path: /phaedra/measurement-service
  port: 8080
  compression:
    enabled: true
    mime-types: image/png,image/jpeg,application/json

spring:
  application:
    name: phaedra-measurement-service
  liquibase:
    enabled: false
  jackson:
    serialization:
      indent_output: true
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
#            client-id: ???
#            client-secret: ???
            authorization-grant-type: client_credentials
        provider:
          keycloak:
            authorization-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/auth
            token-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/token
            user-info-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/certs
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/certs
  graphql:
    graphiql:
      enabled: true
      path: /graphiql

management:
  endpoints:
    web:
      exposure:
        include: *

logging:
  level:
    org.springframework.cache: TRACE
